*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  width: 100%;
  line-height: 100px;
  
  display: flex;
  background-color: #f5ba13;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
  color: white;
  box-shadow: 5px 3px 15px -5px rgba(0,0,0,0.3);
}
img{
  border-radius: 25px;
  margin-right: 8px;
  box-shadow: 5px 5px 10px -5px rgba(240, 248, 6, 0.1);
}

/*
 .my_note h1{
  color: #34495e;

}
.my_note p{
  color: grey;
} */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f4b400;
  text-align: center;
  padding: 10px; /* Adjust the padding as needed */
  box-sizing: border-box; /* Ensure padding is included in the width */
 
}

.main{
 width: 500px;
 padding: 15px 10px 5px 10px;
 
 margin: 20px auto;

}
form{
  min-height: 50px;
  color: #ecf0f1;
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px rgba(0,0,0,0.3);
  border-radius: 10px;
  position: relative;
  
}
input{
  width: 100%;
  line-height: 30px;
  background: transparent;
  outline: none;
  border: none;
  margin: 10px 0 ;
  font-size: 1.5rem;
  font-weight: bold;
}
textarea{
  width: 100%;
  line-height: 30px;
  border: none;
  outline: none;
  margin: 10px 0 ;
  font-size: 1rem;
  font-weight: 500;
}
.MuiButton-root{
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -28px;
  left: 400px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
  border-radius: 50% !important;
  
}
 .MuiButton-root  .plug_sign{
  font-size: 45px !important;
  font-weight: 900;
  color: #f4b400;
  cursor: pointer;
  z-index: 222;
  
  background: transparent;
  
}
.MuiButton-root :hover{
  background:  #f4b400 !important;
  color: white;

}
.MuiButton-root :hover .plug_sign{
  color: black;
  background: transparent;
}
.note{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1{
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p{
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note .btn{
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f4b400;
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 15px -10px rgba(0,0,0,0.3);
  border-radius: 50%;
}
.deleteIcon{
  width:0.7em;
  height: 0.7em;


}
.note .btn:hover{
  background-color: #f5ba13;
  color: white;
}
